<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buzzware.iridedriver">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.IrideDriver">

        <activity android:name=".Screens.Covid"
            android:exported="true"/>

        <activity android:name=".Screens.AboutUs"
            android:exported="false"/>

        <activity
            android:name=".Screens.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".Screens.PromotionDetails"
            android:exported="true" />
        <activity
            android:name=".Screens.WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".Screens.CreateNewRequestActivity"
            android:exported="true" />
        <activity
            android:name=".Screens.Notifications"
            android:exported="true" />
        <activity
            android:name=".Screens.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Screens.MessagesActivity"
            android:exported="true" />
        <activity
            android:name=".Screens.CollectVehicleDataScreen"
            android:theme="@style/Theme.white" />
        <activity
            android:name=".Screens.UploadVehicleImagesScreen"
            android:theme="@style/Theme.white" />
        <activity
            android:name=".Screens.OnTrip"
            android:theme="@style/Theme.white" />
        <activity
            android:name=".Screens.Home"
            android:theme="@style/Theme.white" />
        <activity
            android:name=".Fragments.Chat"
            android:theme="@style/Theme.white" />
        <activity
            android:name=".Screens.Authentication"
            android:theme="@style/Theme.white" />
        <activity android:name=".Screens.StartUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Fragments.CustomerRequestsFragment"
            android:theme="@style/Theme.white" />

        <service
            android:name=".LocationServices.LocationTracker"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />

        <activity
            android:name=".Screens.NotificationDetail"
            android:exported="true" />

        <service
            android:name=".push.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>